@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
  color: #F7F7F7;
}
h1.display-4 {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
}

.num {
  width: auto;
  height: 35px;
  background-color: #fff;
  margin: 5px;
  color: #000;
  padding: 5px;
  font-size: 22px;
  text-align: center;
}
